  <div class="bg-1">
    <img src="assets/shape-01.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="banner m-top-150 p-top-100">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="banner-text text-center m-top-20">
                <h1 class="text-white">艺术品</h1>
                <p class="text-white">装点梦想,点亮生活</p>
                <a class="btn btn-default btn-round m-top-20" href="https://bootstrapthemes.co" target="_blank">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
