  <!--Home page style start-->
  <div class="culmn">
    <section id="home" class="home">
      <div class="transit-01">
        <img src="assets/shape-01.png" alt="" />
      </div>
      <div class="container">
        <div class="row">
          <div  class="banner m-top-150 p-top-100" >
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="banner-text text-center m-top-20">
                    <h1 class="text-white">Make something valuable</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore  consequat. Duis aute irure
                      dolor in reprehenderit in volExcepteur  </p>
                    <a  class="btn btn-default btn-round m-top-20" href="https://bootstrapthemes.co" target="_blank">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End off homev1 section -->
    <!-- Featured Start -->
    <section id="featured" class="featured">
      <div class="container">
        <div class="row">
          <div class="main-featured sections2">
            <div class="col-md-5">
              <div class="featured-content wow animated slideInLeft">
                <h2 class="m-bottom-30">We’re Global</h2>
                <p class="m-top-20 m-bottom-30 first-letter">Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <p>laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate
                  velit esse</p>
                <a href="#" class="btn btn-default btn-round m-top-20">Get Started</a>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
              <!-- Featured slider start -->
              <div class="featured-slide wow animated fadeIn">
                <div class="featured-items">
                  <div class="single-item">
                    <div class="slide">
                      <div class="f-item-text">
                        <h3>GLOBAL No 1</h3>
                        <h4>Provide visabule service</h4>
                      </div>
                      <img class="m-top-30" src="assets/global-01.png" alt="" />
                      <div class="slide-count-wrap">
                        <span class="current"></span> /
                        <span class="total"></span>
                      </div>
                    </div>
                    <!-- End off f-slid-->
                    <div class="slide">
                      <div class="f-item-text">
                        <h3>GLOBAL No 2</h3>
                        <h4>Provide visabule service</h4>
                      </div>
                      <img class="m-top-30" src="assets/global-01.png" alt="" />
                      <div class="slide-count-wrap">
                        <span class="current"></span> /
                        <span class="total"></span>
                      </div>
                    </div>
                    <!-- End off f-slid-->
                    <div class="slide">
                      <div class="f-item-text">
                        <h3>GLOBAL No 3</h3>
                        <h4>Provide visabule service</h4>
                      </div>
                      <img class="m-top-30" src="assets/global-01.png" alt="" />
                      <div class="slide-count-wrap">
                        <span class="current"></span> /
                        <span class="total"></span>
                      </div>
                    </div>
                    <!-- End off f-slid-->
                    <div class="slide">
                      <div class="f-item-text">
                        <h3>GLOBAL No 4</h3>
                        <h4>Provide visabule service</h4>
                      </div>
                      <img class="m-top-30" src="assets/global-01.png" alt="" />
                      <div class="slide-count-wrap">
                        <span class="current"></span> /
                        <span class="total"></span>
                      </div>
                    </div>
                    <!-- End off f-slid-->
                    <div class="slide">
                      <div class="f-item-text">
                        <h3>GLOBAL No 5</h3>
                        <h4>Provide visabule service</h4>
                      </div>
                      <img class="m-top-30" src="assets/global-01.png" alt="" />
                      <div class="slide-count-wrap">
                        <span class="current"></span> /
                        <span class="total"></span>
                      </div>
                    </div>
                    <!-- End off f-slid-->
                  </div>
                </div>
              </div>
              <!-- End of Featured slider -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End off featured section -->
    <!-- Service Start -->
    <section class="service bg-grey fix m-top-120 swing">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="service-title text-center">
              <h2>Awesome <span>Services</span></h2>
              <p>Our experties area</p>
            </div>
          </div>
          <div class="main-service text-center p-top-30">
            <div class="col-md-4">
              <div class="service-item bg-white alfa wow animated slideInLeft">
                <span class="icon_desktop"></span>
                <h3 class="m-top-30">Interface Design</h3>
                <p class="m-top-20">laboris nisi ut aliquip ex ea in commodo consequat.
                  Duis aute nisi eprehenderit in voluptate velit
                  es laboris ut.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item bg-white alfa wow animated slideInUp">
                <span class="icon_mobile"></span>
                <h3 class="m-top-30">iOS Development</h3>
                <p class="m-top-20">laboris nisi ut aliquip ex ea in commodo consequat.
                  Duis aute nisi eprehenderit in voluptate velit es
                  laboris ut.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item bg-white alfa wow animated slideInRight">
                <span class=" icon_gift"></span>
                <h3 class="m-top-30">Print Design</h3>
                <p class="m-top-20">laboris nisi ut aliquip ex ea in commodo consequat.
                  Duis aute nisi eprehenderit in voluptate
                  velit es laboris ut.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- End of Featured -->
    <!-- Product Section Start -->
    <figure class="product sections2 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-offset-2">
            <div class="head-title product-head">
              <h2><span>Productive</span> <br />
                We always maintain best quality of our service
              </h2>
              <p class="m-top-40 col-lg-offset-1 first-letter">Sed ut perspiciatis unde omnis iste natus error sit volup tatem
                accusa doloemque laudantium, totam rem aperiam, eaque ipsa quae
                ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo.
              </p>
              <div class="btns text-right m-top-60">
                <a href="" class="btn btn-default btn-round">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main product start-->
      <div class="main-product m-top-70">
        <div class="main-product-slid">
          <div class="container">
            <div class="row">
              <!-- slider-warraper start-->
              <div class="col-md-7 product-slider alfa">
                <div class="slide-item">
                  <div class="product-item">
                    <h2 class="text-center m-top-10">JOHN SCOT</h2>
                    <p class="m-top-30 first-letter">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dol voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <p>Excepteur sint occaecat cupidatat non proident, suntn culpa qui officia deserunt  id est laborum.</p>
                    <div class="athour text-right">
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart_alt"></span></a>
                      <div class="separators">
                        <div class="separator2"></div>
                      </div>
                      <div>Zoom Shaper</div>
                    </div>
                  </div>
                </div>
                <div class="slide-item">
                  <div class="product-item">
                    <h2 class="text-center m-top-10">JOHN SCOT</h2>
                    <p class="m-top-30 first-letter">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dol voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <p>Excepteur sint occaecat cupidatat non proident, suntn culpa qui officia deserunt  id est laborum.</p>
                    <div class="athour text-right">
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart_alt"></span></a>
                      <div class="separators">
                        <div class="separator2"></div>
                      </div>
                      <div>Zoom Shaper</div>
                    </div>
                  </div>
                </div>
                <div class="slide-item">
                  <div class="product-item">
                    <h2 class="text-center m-top-10">JOHN SCOT</h2>
                    <p class="m-top-30 first-letter">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse quat. Duis aute irure dol voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <p>Excepteur sint occaecat cupidatat non proident, suntn culpa qui officia deserunt  id est laborum.</p>
                    <div class="athour text-right">
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart"></span></a>
                      <a href=""><span class="icon_heart_alt"></span></a>
                      <div class="separators">
                        <div class="separator2"></div>
                      </div>
                      <div>Zoom Shaper</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of slider-warraper -->
              <div class="col-md-7">
                <div class="btns text-center">
                  <a href="" class="btn btn-default btn-round m-l-10">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- end of main product -->
    </figure>
     <!-- End of Product Section -->
    <!--News Letter section-->
    <section class="newsletterv2 sections2 p-top-90">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-newsletter">
              <div class="newsletter-content text-center">
                <h2 class="text-primary m-bottom-10">Subscribe our <span class="separator1"></span> </h2>
                <h2 class="text-black"><span class="separator2"></span> Newslatter</h2>
                <p class="text-mega m-top-15 p-bottom-30">Subscribe to our newsletter and be the first who receives our latest news!</p>
                <form class="form-inline" id="newsletter-form" action="http://facebook.us8.list-manage.com/subscribe/post-json?u=85f515a08b87483d03fee7755&id=dff5d2324f">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your Name">
                  </div>
                  <div class="form-group xs-m-top-40">
                    <input type="email" class="form-control" placeholder="Enter Your Email">
                  </div>
                  <button type="submit" class="btn btn-default btn-round xs-m-top-40">Send us</button>
                </form>
              </div>
            </div>
            <!-- End off col-md-12 -->
          </div>
        </div>
        <!-- End off row -->
      </div>
      <!-- End off container -->
    </section>
    <!-- End off newsletter v1 section -->
    <!--Brand section-->
    <section class="text-center sections3 bg-white p-bottom-90  wow animated slideInUp">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="head-title">
              <h2><span>Brand,</span> We work with</h2>
            </div>
          </div>
          <div class="main-brandv1 p-top-50">
            <div class="col-md-3 col-sm-6">
              <div class="brand-itemv1">
                <a href=""><img src="assets/brand-01.png" alt="" /></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 xs-m-top-40">
              <div class="brand-itemv1">
                <a href=""><img src="assets/brand-02.png" alt="" /></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 sm-m-top-30 xs-m-top-40">
              <div class="brand-itemv1">
                <a href=""><img src="assets/brand-03.png" alt="" /></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 sm-m-top-30 xs-m-top-40">
              <div class="brand-itemv1">
                <a href=""><img src="assets/brand-04.png" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End off row -->
      </div>
      <!-- End off container -->
    </section>
    <!-- End off brand section-->
  
