<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta property="og:title" content="Frodo - The Most Intelligent Adventure Camera">
	<meta property="og:site_name" content="FrodoCam">
	<meta property="og:url" content="http://www.frodocam.com/">
	<meta property="og:description" content="Do more adventure, less editing with Frodo - The Most Intelligent Adventure Camera that edit videos for you. Now on Indiegogo!">
	<meta property="og:image" content="http://frodocam.com/mail.jpg"/>
	<meta name="description" content="Break Free from the drawbacks of current action cameras with Frodo - The Most Intelligent Adventure Camera that edit videos for you.">
	<meta name="keywords" content="Frodo,Adventure,Camera,Intelligent,Editing,Action,Video,Photo">
	<meta name="author" content="Nexgear">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@FrodoCam">
	<meta name="twitter:title" content="Frodo - The Most Intelligent Adventure Camera ">
	<meta name="twitter:description" content="Do more adventure, less editing with Frodo - The Most Intelligent Adventure Camera that edit videos for you.">
	<meta name="twitter:image" content="http://frodocam.com/mail.jpg">

	<title>Frodo - The Most Intelligent Adventure Camera</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'">
	<link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'" />
	<link href="css/theme-orange.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:300,400,500,600%7CSource+Sans+Pro' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'">

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-70418766-1', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','//connect.facebook.net/en_US/fbevents.js');

	fbq('init', '1541999812760649');
	fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=1541999812760649&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->

</head>
<body>

<!--	<div class="nav-container" >
		<nav>
			<div class="nav-bar" >
				<div class="module left">
					<a href="#">
						<img class="logo logo-light" alt="Frodo Logo" src="img/logo-white.svg" />
						<img class="logo logo-dark img-sm-only" alt="Frodo Logo" src="img/logo-black.svg" />
						<img class="logo logo-dark img-sm-gone" alt="Frodo Logo" src="img/frodo_logo_word_black.png" />
					</a>
				</div>
				<div class="module-group left">
					<div class="module left">
						<ul class="menu">
							<li>
								<a href="strap">
									Strap
								</a>
							</li>
							<li>
								<a href="shoot">
									Shoot
								</a>
							</li>
							<li>
								<a href="share">
									Share
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="module-group right">
					<div class="module right">
						<ul class="menu">
							<li>
								<a href="shoot/#tech-specs">
									Tech Specs
								</a>
							</li>
							<li>
								<a href="http://blog.frodocam.com">
									Blog
								</a>
							</li>
							<li >
								<a href="#be-in-the-loop" onclick="$('html, body').animate({ scrollTop: $('#be-in-the-loop').offset().top }, 500);" class="btn nav-btn btn-filled text-white opaque" style="font-size: 12px !important;" >
									SIGN UP
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs">
					<i class="fa fa-bars text-orange opaque"></i>
				</div>
			</div>
		</nav>
	</div> -->

	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle">
          <i class="fa fa-bars text-orange opaque"></i>
        </button>
        <div class="navbar-brand-logo">
				<a href="#">GUA</a>
				</div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="shoot/#tech-specs">Tech Specs</a></li>
          <li><a href="#">Blog</a></li>
          <li><p class="navbar-cta"><a href="#" class="btn nav-btn btn-filled text-white opaque btn-gogenta" style="font-size: 12px !important; min-width:0px;" >
						PRE-ORDER NOW
					</a></p></li>
        </ul>
      </div>
    </div>
  </nav>

	<nav class="burger hidden">
	<i class="burger-close ti-close"></i>
  <ul>
    <li><a href="strap">Strap</a></li>
    <li><a href="shoot">Shoot</a></li>
    <li><a href="share">Share</a></li>
    <li><a href="shoot#tech-specs">Tech Specs</a></li>
    <li><a href="http://blog.frodocam.com">Blog</a></li>
  </ul>
	</nav>





	<div class="main-container">

		<section id="banner" class="cover image-slider slider-all-controls controls-inside text-center height100">
			<ul class="slides height100">
				<li class="height100">
					<div class="container height100">
						<div class="row row-eq-height vertical-align always-vertical-align height100">
							<div class="col-md-12 text-center">
								<h1 class="mb40 mb-xs-16 text-center frodo-title" style="font-size:20px; margin-top:45px;"> WOMAN <br> </h1>
								<img src="https://ooo.0o0.ooo/2017/05/22/5922868a76f3d.jpg" alt="woman.jpg" title="woman.jpg" />
								<img class="img-sm-only" src="img/mobile_banner_frodo.png" alt="Frodocam" style="width:90vw;margin-bottom:10px; transition: all .4s ease-in-out;">
								<div class="clearfix"></div>
								<a id="videolink" class="btn btn-lg btn-filled btn-gogenta mb0 hidden-xs" href="#" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/Ks4XIfqQimE">Watch our video <i class="fa fa-play-circle-o"></i></a>
								<a class="btn btn-lg btn-filled btn-gogenta mb0 hidden visible-xs" href="https://www.youtube.com/watch?v=Ks4XIfqQimE">Watch our Indiegogo video <i class="fa fa-play-circle-o"></i></a>
								<!-- <div class="mt24 mb40 mb-xs-16"><a href="#" onclick="$('html, body').animate({ scrollTop: $('#hero_intro').offset().top }, 500);"><i class="ti-angle-down" style="font-size: 40px;color: #444; margin-bottom: 30px;"></i></a></div> -->
							</div>
						</div>
					</div>
				</li>

			</ul>
		</section>
		<div class="second-navbar navbar-lower nopadding hidden-xs" role="navigation">
			<div class="container-fluid height100 nopadding">
		    <div class="row row-eq-height vertical-align always-vertical-align text-center height100 nopadding">
		      	<div class="col-xs-4 height100 nopadding"><a href="strap" class="frodo-text nav-lower-section">Strap</a></div>
		      	<div class="col-xs-4 height100 nopadding"><a href="shoot" class="frodo-text nav-lower-section">Shoot</a></div>
		        <div class="col-xs-4 height100 nopadding"><a href="share" class="frodo-text nav-lower-section">Share</a></div>
		    </div>
			</div>
		</div>
		<section class = "image-bg vid-bg" id = "hero_intro">
			<div class="background-image-holder">
				<img alt="background-image" class="background-image" src="https://ooo.0o0.ooo/2017/05/22/592289d2d2057.jpg">
			</div>
			<div class="fs-vid-background">
          <!-- <video poster="img/more_adventure.png" muted="muted" loop="loop" autoplay="autoplay">
              <source src="img/bike.mp4" type="video/mp4">
          </video> -->
          <img src="https://ooo.0o0.ooo/2017/05/22/59228936a3ca9.jpg" alt="girl.jpg" title="girl.jpg" />
      </div>
			<div class ="container">
				<div class="row">
					<div class= "col-sm-4 col-sm-offset-8 text-white text-center-xs">
						<h1 class="frodo-heading text-black mb0">Do more adventure, less editing.<br></h1>
						<h2 class="frodo-text text-black mt0">With the camera that edits videos for you.</h2>
					</div>
				</div>
			</div>
		</section>
		<section id="easy" class="strapsection orangeband">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-5">

					</div>
				</div>
				<div class="row">
					<div class="col-sm-offset-2 col-sm-8 text-center">
						<p class="frodo-heading text-white" style="position:relative; z-index:2;">It’s as easy as strap, shoot, and share. </p>
					</div>
				</div>
				<!--end of row-->
			</div>
		</section>

		<section id="strap" class="bg-gray slim">
			<!-- <div class="image-bg">
				<div class="background-image-holder">
					<img alt="Background" class="background-image" src="ihttps://ooo.0o0.ooo/2017/05/22/592289d2d2057.jpg"/>
				</div>
				<div class="container">
					<div class="row row-eq-height vertical-align always-vertical-align slideanim">
						<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
							<h2 class=" frodo-heading text-black">Strap</h2>
							<p class="frodo-text text-black">
								Revolutionary strap-on design <br>to take on any adventure.
 							</p>
							<a class="btn btn-lg btn-filled" href="strap">Explore Strap</a>
						</div>
					</div>
				</div>
			</div> -->
      <img src="https://ooo.0o0.ooo/2017/05/22/592289d2d2057.jpg"  width="100%" alt="bird.jpg" title="bird.jpg" />
		</section>

		<section id="bird" class="bg-gray slim">
			<!-- <div class="image-bg">
				<div class="background-image-holder">
					<img alt="Background" class="background-image" src="img/shoot_bg.png"/>
				</div>
				<div class="container">
					<div class="row row-eq-height vertical-align always-vertical-align slideanim">
						<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0">
							<h2 class=" frodo-heading text-white">Shoot</h2>
							<p class="frodo-text text-white">
								Shoot high-definition videos at <br>just a touch of a button.</p>
							<a class="btn btn-lg btn-filled" href="shoot">Explore Shoot</a>
						</div>
					</div>
				</div>
			</div> -->
      <img src="https://ooo.0o0.ooo/2017/05/22/592290311d9e2.jpg" width="100%" alt="bicycle.jpg" title="bicycle.jpg" />
		</section>


		<section id="share" class="bg-gray slim">
			<!-- <div class="image-bg fade-half">
				<div class="background-image-holder">
					<img alt="Background" class="background-image" src="img/share_bg.png"/>
				</div>
				<div class="container">
					<div class="row row-eq-height vertical-align always-vertical-align slideanim">
						<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
							<h2 class=" frodo-heading text-white">Share</h2>
							<p class="frodo-text text-white">
								Auto-edit hours of footage into <br>ready-to-share videos instantly.</p>

							<a class="btn btn-lg btn-filled" href="share">Explore Share</a>
						</div>
					</div>
				</div>
			</div> -->
      <img src="https://ooo.0o0.ooo/2017/05/22/592293c5ce3dd.jpg"  width="100%" alt="buffalo.jpg" title="buffalo.jpg" />
		</section>


		


		<section class="frodo-bg-dark footer-section" id = "be-in-the-loop">
			<div class="mb40 container-fluid">
				<div class="row">
					<div class= "col-xs-10 col-xs-offset-1 text-center">
						<h3 id="emailtext" class="mb-xs-24 frodo-heading text-orange">There's a lot happening everyday at Frodo.
						</h3>
						<h3 id="sharetext"  style="display:none;" class="mb-xs-24 frodo-heading text-orange">Like what you see?
						</h3>
						<p id="emailtext1" class="frodo-text text-white" >Stay in the loop for the latest Frodo news and updates. </p>
						<p id="sharetext1"  style="display:none;" class="frodo-text text-white" >Recommend Frodo to your fellow adventurers.</p>
					</div>
				</div>

				<div id="textfeild" class="row row-eq-height vertical-align mb40">
					<div class= "col-md-8 col-md-offset-2 col-xs-12 col col-lg-6 col-lg-offset-3 text-center">

						<div class="input-container clearfix" >
							<input type="text" id="email-CES" class="mb0 input-email" placeholder="Email Address" style="float:left;" />
							<a id="btnAddUser-CES" class="btn btn-filled  btn-lg mb0" style="float:right; min-width: 0px;" >Sign Up</a> </div>
						</div>


					</div>

					<div id="social-row" class="row row-eq-height vertical-align mb40">
						<div class= "col-md-8 col-md-offset-2 col-xs-12 col col-lg-6 col-lg-offset-3 text-center">

							<a style="width:100% !important;" target="_blank" href="https://www.facebook.com/nexgeartechnology" class = "frodo-a">
								<i class="fa fa-facebook frodo-social-icon"></i>
							</a>

							<a style="width:100% !important;" target="_blank" href="https://twitter.com/FrodoCam" class = "frodo-a">
								<i class="fa fa-twitter frodo-social-icon"></i>
							</a>

							<a style="width:100% !important;" target="_blank" href="https://www.youtube.com/channel/UCcdwyAFg5FxU88RH2IlMjYQ" class = "frodo-a">
								<i class="fa fa-youtube frodo-social-icon"></i>
							</a>

							<a style="width:100% !important;" target="_blank" href="https://www.instagram.com/frodocam" class = "frodo-a">
								<i class="fa fa-instagram frodo-social-icon"></i>
							</a>

							<a style="width:100% !important;" target="_blank" href="https://plus.google.com/u/0/101559009023300540551" class = "frodo-a">
								<i class="fa fa-google-plus-square frodo-social-icon"></i>
							</a>

						</div>
					</div>
		</section>


							<footer class="footer-2 bg-dark pb16">
								<div class="container">
								<!--	<img class="fade-half" style="height:30px;" alt="Frodo" src="img/frodo-logo-white.svg">
									<hr>-->
									<div class="row footer-row hidden-xs">
										<div class="col-xs-3 col-xs-offset-1 col-sm-offset-0 text-center-xs">
											<a class="footer-head text-orange" href="strap">STRAP</a>
											<div class="clearfix visible-xs hidden mb16"></div>
											<ul class="footer-list hidden-xs">
												<li ><a href="strap/#frodo-360">Frodo 360&deg;</a> </li>
												<li ><a href="strap/#tripod">World is your tripod</a> </li>
												<li ><a href="strap/#modular">Modular Design</a> </li>
												<li ><a href="strap/#hinge">Flip-hinged</a> </li>
												<li ><a href="strap/#adventure-proof">Adventure Proof</a> </li>
											</ul>
										</div>
										<div class="col-xs-4 col-sm-3 text-center-xs">
											<a class="footer-head text-orange" href="shoot">SHOOT</a>
											<div class="clearfix visible-xs hidden mb16"></div>
											<ul class="footer-list hidden-xs">
												<li ><a href="shoot/#gallery">Frodo Gallery</a> </li>
												<li ><a href="shoot/#fast">Fastest Shoot</a> </li>
												<li ><a href="shoot/#dimensions">Dimensions</a> </li>
												<li ><a href="shoot/#camera">Camera</a> </li>
												<li ><a href="shoot/#battery">Battery Life</a> </li>
											</ul>
										</div>
											<div class="col-xs-4 col-sm-3 text-center-xs">
												<a class="footer-head text-orange" href="share">SHARE</a>
												<div class="clearfix visible-xs hidden mb16"></div>
												<ul class="footer-list  hidden-xs">
													<li ><a href="share/#intelligent">Truly Intelligent</a> </li>
													<li ><a href="share/#editing-styles">Editing Styles</a> </li>
													<li ><a href="share/#evolves">Learns Your Style</a> </li>
												</ul>
												<!--<a class="footer-head text-orange" href="#faq">FAQ</a>-->
											</div>
											<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3 text-center-xs hidden-xs">
												<ul class="footer-list opaque">
													<li ><a class="footer-head text-orange" href="pressrelease.html">PRESS</a> </li>
													<li ><a class="footer-head text-orange" href="http://blog.frodocam.com">BLOG</a> </li>
													<li ><a class="footer-head text-orange" href="faq">FAQs</a> </li>
													<li ><a class="footer-head text-orange" href="shoot/#tech-specs">TECH SPECS</a> </li>
													<li ><a class="footer-head text-orange" href="presskit.zip">PRESS KIT</a> </li>
													<li ><a class="footer-head text-orange" href="contact">CONTACT US</a> </li>

												</ul>
												<!--<a class="footer-head text-orange" href="#faq">FAQ</a>-->
											</div>
											</div>
											<div class="row footer-row visible-xs hidden">
												<div class="col-xs-4 text-center-xs">
													<a class="footer-head text-orange" href="pressrelease.html">PRESS</a>
												</div>
												<div class="col-xs-4 text-center-xs">
													<a class="footer-head text-orange" href="http://blog.frodocam.com">BLOG</a>
												</div>
												<div class="col-xs-4 text-center-xs">
													<a class="footer-head text-orange" href="faq">FAQs</a>
												</div>
											</div>
											<div class="row footer-row visible-xs hidden">
												<div class="col-xs-4 text-center-xs">
													<a class="footer-head text-orange" href="shoot/#tech-specs">TECH SPECS</a>
												</div>
												<div class="col-xs-4 text-center-xs">
													<a class="footer-head text-orange" href="presskit.zip">PRESS KIT</a>
												</div>
												<div class="col-xs-4 text-center-xs">
													<a class="footer-head text-orange" href="contact">CONTACT US</a>
												</div>
											</div>
											<hr style="margin-bottom:25px;">

											<hr style="margin-top:25px;">
												<div class="row fine-print text-center-xs">
													<div class="col-sm-8">&copy; Copyright 2017 LUOSHUANG&YUANLONG<div class="clearfix hidden visible-xs">

												</div>
											</div>
										</footer>

				</div>

				<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-body">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				                <div>
				                    <iframe width="100%" height="100%" src=""></iframe>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

<div class="frodo-modal modal-screen dismiss-modal"></div>
				<div class="frodo-modal foundry_modal text-center image-bg overlay">
					<div class="background-image-holder">
						<img alt="Background" class="background-image" src="img/frodo-on-dude.jpg"/>
					</div>
					<i class="ti-close close-modal dismiss-modal"></i>
					<h3 class="frodo-heading text-white mt48 mt-xs-16">Register and stand a chance to win Frodo!
					</h3>
					<p  class="frodo-text text-white mb48 mb-xs-16" >Stay in the loop for the latest Frodo news and updates.</p>

					<div class="input-container clearfix">
						<input type="text" id="email-modal" class="mb0 input-email" placeholder="Email Address" style="float:left;" />
						<a id="btnAddUser-modal" class="btn btn-filled  btn-lg mb0" style="float:right; min-width: 0px;" >Sign Up</a> </div>
					</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/flexslider.min.js"></script>
		<!--<script src="js/parallax.js"></script> -->
		<script src="js/scripts.js"></script>
		<script src="js/frodo.js"></script>
		<script>
		autoPlayYouTubeModal();
		</script>
		<!-- Google Code for Remarketing Tag -->
		<!--
		Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
		--------------------------------------------------->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 932284788;
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932284788/?value=0&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>

</body>
</html>
