// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bg-1{
  background: image_url("top1.jpg") no-repeat;
  background-size:100% 100%;
  padding-top: 20%;
  padding-bottom: 20%;

}
