<tr>
  <td>
   <span>
        <b><%= post.user.email %></b>
     说：
   </span>
   <span class="pull-right" style="margin-top:20px;"><%= post.created_at.to_s(:long) %></span>
  </td>
</tr>
<tr>
  <td>
   <%= simple_format(post.content) %>
  </td>
</tr>
