<!--
<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by yourname

    </p>
</footer> -->

<!-- Footer Widget section -->
<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="main-weidget p-top-80 p-bottom-80">
        <div class="col-md-3">
          <div class="weidget-item">
            <h4 class="text-white">Company</h4>
            <ul class="m-top-20">
              <li><a href="home.html">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
        </div>
        <!-- End off col-sm-3 -->
        <div class="col-md-3 sm-m-top-40">
          <div class="weidget-item">
            <h4 class="text-white">Quick Links</h4>
            <ul class="m-top-20">
              <li><a href=""> Designers</a></li>
              <li><a href=""> Pricing plan</a></li>
              <li><a href=""> Services</a></li>
              <li><a href=""> Download</a></li>
            </ul>
          </div>
        </div>
        <!-- End off col-sm-3 -->
        <div class="col-md-2 sm-m-top-40">
          <div class="weidget-item">
            <h4 class="text-white">Conditions</h4>
            <ul class="m-top-20">
              <li><a href=""> Online support</a></li>
              <li><a href=""> Privacy</a></li>
              <li><a href=""> Terms</a></li>
              <li><a href=""> Policy</a></li>
            </ul>
          </div>
        </div>
        <!-- End off col-sm-3 -->
        <div class="col-md-4 sm-m-top-40">
          <div class="weidget-item">
            <h4 class="text-white">Get connected</h4>
            <ul class="list-inline socail m-top-20">
              <li><a href=""><span class="social_facebook"></span></a></li>
              <li><a href=""><span class="social_twitter"></span></a></li>
              <li><a href=""><span class="social_googleplus"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- End off col-md-4 -->
      </div>
    </div>
    <!-- End off main widget-->
  </div>
  <!-- End off container -->
</section>
<!-- End off footer widget Section -->
<!--Footer section-->
<footer class="footer bg-info p-top-20 p-bottom-20">
  <div class="scrollup">
    <a href="#" class="hvr-hang"><span class="arrow_up"></span></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hv2-main-footer wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text text-center">
                <p class="text-white">Made with <i class="fa fa-heart"></i> by <a class="text-white" href="https://bootstrapthemes.co" target="_blank">Bootstrap Themes</a> 2016. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End off footer Section-->
