<!--
<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 JDStore
        <br>Design by yourname

    </p>
</footer> -->

<footer class="footer bg-end ">
  <div class="scrollup">
    <a href="#" class="hvr-hang"><span class="arrow_up"></span></a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="hv2-main-footer wow fadeInUp">
          <div class="row">

            <div class="col-md-12">
              <div class="copyright-text text-center">
                <p class="text-white">Made with <i class="fa fa-heart"></i> by <a class="text-white" href="https://bootstrapthemes.co" target="_blank">Bootstrap Themes</a> 2016. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
